<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/lab1.css" type="text/css">
  </head>
  
<body>

    <div class="main">
        <h1>Error 404</h1>
        <h2>Page not found. Please Return to the homepage below.</h2>
        <a href="../"><h3>homepage</h3></a><br>  
    </div>

</body>

</html>